* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
    url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraBold.woff') format('woff'),
    url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
    url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraLight.woff') format('woff'),
    url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBoldItalic.eot');
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
    url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
    url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff'),
    url('../fonts/Raleway-Light.ttf') format('truetype'),
    url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ThinItalic.eot');
    src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
    url('../fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ThinItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ThinItalic.woff') format('woff'),
    url('../fonts/Raleway-ThinItalic.ttf') format('truetype'),
    url('../fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
    url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-LightItalic.woff') format('woff'),
    url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
    url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'),
    url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Black.woff2') format('woff2'),
    url('../fonts/Raleway-Black.woff') format('woff'),
    url('../fonts/Raleway-Black.ttf') format('truetype'),
    url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
    url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: local('Raleway Thin'), local('Raleway-Thin'),
    url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Thin.woff2') format('woff2'),
    url('../fonts/Raleway-Thin.woff') format('woff'),
    url('../fonts/Raleway-Thin.ttf') format('truetype'),
    url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBoldItalic.eot');
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
    url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLightItalic.eot');
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
    url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BlackItalic.eot');
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
    url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
    url('../fonts/Raleway-BlackItalic.woff') format('woff'),
    url('../fonts/Raleway-BlackItalic.ttf') format('truetype'),
    url('../fonts/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BoldItalic.eot');
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
    url('../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-BoldItalic.woff2') format('woff2'),
    url('../fonts/Raleway-BoldItalic.woff') format('woff'),
    url('../fonts/Raleway-BoldItalic.ttf') format('truetype'),
    url('../fonts/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Italic.woff2') format('woff2'),
    url('../fonts/Raleway-Italic.woff') format('woff'),
    url('../fonts/Raleway-Italic.ttf') format('truetype'),
    url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
    url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
    url('../fonts/Raleway-MediumItalic.woff') format('woff'),
    url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
    url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}


body {
  margin: 0;
  font-family: Raleway, Verdana, sans-serif;
  /*background-color: orange;*/
}

header {
    color: white;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

header .container {
    position: relative;
    background-color: black;
    height: 41px;
}

header .container .logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 68px;
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
}

header .container nav {
    position: absolute;
    right: 0;
    margin-top: 12px;
}

header .container nav ul {
    list-style: none;
    margin-right: 79px;
}

header .container nav ul li {
    display: inline-block;
    font-size: 91%;
    font-weight: 700;
    margin-left: 42px;
}

header .container nav ul li:first-child {
    margin-right: 32px;
    font-size: 95%;
}

header .container nav ul li:nth-child(2n) {
    font-size: 94%;
    margin-left: 16px;
    margin-right: -8px;
}

header .container nav ul li:nth-child(3n) {
    font-size: 92%;
    margin-right: -1px;
}

/*MAIN*/


main .container:first-child {
    height: 503px;
    position: relative;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #F7FBFF 0%, #CCCFD4 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #F7FBFF 0%, #CCCFD4 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #F7FBFF 0%, #CCCFD4 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F7FBFF), color-stop(100, #CCCFD4));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #F7FBFF 0%, #CCCFD4 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #F7FBFF 0%, #CCCFD4 100%);
}

main .container:first-child div:first-child{
    position: absolute;
    right: 261px;
    top: 11px;
    background-color: black;
}

/*DIV1*/
main .container:first-child div:first-child::before {
    content: "";
    border-bottom: 10px solid #222;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    top: -10px;
    width: 0;
    right: 56px;
}

main .container nav {
    height: 85px;
    width: 120px;
    color: white;
    padding-top: 11px;
}

main .container nav ul {
    list-style: none;
    margin-left: 12px;font-size: 17px;
    font-weight: 500;
    line-height: 27px;
}

main .container nav ul li:first-child{
    margin-top: -2px;
    font-size: 93%;
    margin-left: 2px;
}

main .container nav ul li:nth-child(2n){
    font-size: 93%;
}

main .container nav ul li:nth-child(3n){
    margin-top: 1px;
    font-size: 93%;
}

/*DIV2*/

main .container:first-child div:nth-child(2n) {
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 369px;
    width: 382px;
    top: 68px;
    left: 119px;
    background-size: 111%;
}

main .container:first-child div:nth-child(3n){
    position: absolute;
    right: 209px;
    top: 137px;
    width: 447px;
}

main .container:first-child div:nth-child(3n) p {
    margin-top: -3px;
    font-weight: 500;
    text-align: center;
    font-size: 246%;
    margin-bottom: 26px;
    margin-right: 3px;

}

main .container:first-child div:nth-child(3n) p:nth-child(2n){
    font-size: 95%;
    text-align: center;
    line-height: 22px;
    margin-top: 28px;
    margin-left: 4px;
}

main .container:first-child input {
    position: absolute;
    background-color: #27c7ab;
    color: white;
    width: 265px;
    height: 55px;
    font-size: 23px;
    right: 297px;
    bottom: 124px;
    border-radius: 8px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 6px;
    padding-left: 17px;
}

main .container:first-child:before {
    position: absolute;
    right: 91px;
    top: 245px;
    width: 30px;
    height: 30px;
    border-width: 4px 4px 0 0;
    content: '';
    border-style: solid solid none none;
    transform: rotate(45deg);
    border-color:#27c7ab;
}

main .container:first-child:after {
    position: absolute;
    top: 245px;
    left: 81px;
    width:30px;
    height: 30px;
    border-width: 4px 4px 0 0;
    content: '';
    border-style: solid solid none none;
    transform: rotate(225deg);
    border-color:#27c7ab;
}

main .container:nth-child(2) {
    clear: both;
    background-color: white;
    height: 352px;
    position: relative;

}

.obrazek1 {
    background-image: url("../images/box1_img.jpg");
    height: 225px;
    width: 330px;
    float: left;
    margin-top: 28px;
    margin-bottom: auto;
    margin-left: 68px;
    position: unset;
}

.obrazek2{
    background-image: url("../images/box2_img.jpg");
    height: 225px;
    width: 330px;
    float: left;
    margin-top: 29px;
    margin-bottom: auto;
    margin-left: 27px;
    position: unset;
    background-size: cover;
}

.ramka {
    background-color: white;
    border: 1px solid black;
    height: 250px;
    width: 338px;
    float: left;
    margin-top: 29px;
    margin-bottom: auto;
    margin-left: 27px;
    position: unset;
    display: none;
}

.obrazek2:hover + .ramka{  /*pamiętaj o kaskadowości w css*/
    display:block;
}

.obrazek1:hover + .obrazek2 + .ramka{
    display:block;
}

/*krzesło*/
main .container:nth-child(2) .obrazek1 .whitebelt {
    background: white;
    height: 61px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 0;
    margin-top: 151px;
    box-sizing: border-box;
    padding-top: 1px;
}


main .container:nth-child(2) div:first-child .green_belt {
    background-color: #24baa0;
    width: 138px;
    height: 6px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 13px;
}

.obrazek1 p {
    margin-top: 13px;
    margin-left: 18px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
}

/*Dziecko*/

main .container:nth-child(2) .obrazek2 .whitebelt {
    background: white;
    height: 61px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 0;
    margin-top: 151px;
    box-sizing: border-box;
    padding-top: 1px;
}


main .container:nth-child(2) div:nth-child(2) .green_belt {
    background-color: #24baa0;
    width: 138px;
    height: 6px;
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 15px;
}

main .container:nth-child(2) div:nth-child(2) p {
    margin-top: 12px;
    margin-left: 15px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
}

/*ramka*/
main .container:nth-child(2) div:nth-child(3) .green_belt {
    background-color: #24baa0;
    width: 138px;
    height: 6px;
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 22px;
}

main .container:nth-child(2) .ramka p {
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: 22px;
    margin-top: 27px;
    font-size: 16px;
}


main .container:nth-child(2) .ramka .ramkatekst1 {
    line-height: 20px;
    font-weight: 300;
    margin-left: 21px;
    font-size: 89%;
    width: 282px;
    text-align: left;
    margin-top: 0;
}

main .container:nth-child(2) .ramka .ramkatekst2 {
    line-height: 20px;
    font-weight: 300;
    margin-left: 21px;
    font-size: 14px;
    width: 286px;
    text-align: left;
    margin-top: 22px;
}


/*ramki z cenami*/

main .container:last-child {
    height: 725px;
    background-color: whitesmoke;
    padding-top: 45px;
}

main .container:last-child .green_belt {
    background-color: #24baa0;
    width: 320px;
    height: 8px;
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 67px;
    margin-top: 8px;
    position: absolute;
}

main .container:last-child .cennik {
    margin-left: 68px;
    line-height: 20px;
    font-weight: 500;
    font-size: 22px;
}
/*/////////////////////////////////////////////////////////////// RAMKA LEWA*/
.ramkalewa {
    border: 2px solid #9ea3aa;
    height: 502px;
    width: 329px;
    box-sizing: border-box;
    position: relative;
    bottom: 90px;
    left: 67px;
    display: inline-block;
    top: 3px;
    background-color: whitesmoke;
}

.ramkalewa .kolo1 {
    border: 2px solid #9ea3aa;
    color: white;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    top: -38px;
    left: 135px;
    position: absolute;
    background-color: white;
}

.ramkalewa .kolo2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 13px;
    left: 14px;
    position: absolute;
    background-color: #9ea3aa;
}

.ramkalewa .headline {
    font-size: 140%;
    text-align: center;
    margin-top: 28px;
    margin-left: 4px;
    color: #27c7ab;
}


.ramkalewa .okrag {
    border: 2px solid #9ea3aa;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    top: 80px;
    left: 98px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 44px;
    line-height: 24px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 33px;
}

.ramkalewa .cena1 {
    font-size: 43px;
    font-weight: 700;
    position: relative;
    color: #9ea3aa;
}

.ramkalewa .cena {
    font-size: 15px;
    position: absolute;
    top: -15px;
    right: 25px;
    color: #9ea3aa;
}

.ramkalewa .cena2 {
    font-size: 16px;
    position: absolute;
    bottom: 23px;
    right: 26px;
    font-weight: 500;
    color: #9ea3aa;
}

.ramkalewa .txt {
    text-align: center;
    margin-top: 190px;
    font-size: 24px;
    height: 43px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 6px;
    color: #9ea3aa;
    background-color: rgba(198, 198, 198, 0.44);
}

.ramkalewa .txt2 {
    text-align: center;
    font-size: 24px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 7px;
    color: #9ea3aa;
    background-color: #eeeeee;
}

.ramkalewa .buttom {
    background-color: #27c7ab;
    color: white;
    width: 123px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    right: 100px;
    bottom: 20px;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;

}
/*/////////////////////////////////////////////////////////////// RAMKA ŚRODKOWA*/
.ramkasrodkowa {
    border: 2px solid #9ea3aa;
    height: 502px;
    width: 330px;
    box-sizing: border-box;
    position: relative;
    top: 46px;
    margin-left: 94px;
    margin-right: 15px;
    display: inline-block;
    background-color: whitesmoke;
/* -------------------------------------------------ostry hover*/
}
.ramkasrodkowa:hover{
    background-color: #27c7ab;
}

.ramkasrodkowa .kolo1 {
    color: white;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    top: -37px;
    left: 139px;
    position: absolute;
    background-color: white;
    border: 2px solid #9ea3aa;
}
.ramkasrodkowa:hover .kolo1{
    background-color: #27c7ab;
    border: none;
}

.ramkasrodkowa .kolo2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 14px;
    left: 14px;
    position: absolute;
    background-color: #9ea3aa
}

.ramkasrodkowa:hover .kolo2{
    background-color: white;
}

.ramkasrodkowa .headline {
    font-size: 140%;
    text-align: center;
    margin-top: 28px;
    margin-left: 6px;
    color: #27c7ab;
}
.ramkasrodkowa:hover .headline {
    color: white;
}

.ramkasrodkowa .okrag {
    height: 126px;
    width: 126px;
    border-radius: 50%;
    top: 83px;
    left: 102px;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    font-size: 44px;
    line-height: 24px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 33px;
    border: 2px solid #9ea3aa;   /* po dodaniu trochę się cena rozchodzi na boki*/
}

.ramkasrodkowa:hover .okrag{
    border: none;

}

.ramkasrodkowa .cena1 {
    font-size: 43px;
    font-weight: 700;
    position: relative;
    color: #9ea3aa;
}

.ramkasrodkowa:hover .cena1{
    color: #27c7ab;
}

.ramkasrodkowa .cena {
    font-size: 15px;
    position: absolute;
    top: -15px;
    right: 25px;
    color: #9ea3aa;
}
.ramkasrodkowa:hover .cena {
    color: #27c7ab;
}

.ramkasrodkowa .cena2 {
    font-size: 16px;
    position: absolute;
    bottom: 23px;
    right: 26px;
    font-weight: 500;
    color: #9ea3aa;
}
.ramkasrodkowa:hover .cena2 {
    color: #27c7ab;
}

.ramkasrodkowa .txt {
    text-align: center;
    margin-top: 190px;
    font-size: 24px;
    height: 43px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 6px;
    color: #9ea3aa;
    background-color: white;
}

.ramkasrodkowa .txt2 {
    text-align: center;
    font-size: 24px;
    height: 45px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 8px;
    color: #9ea3aa;
    background-color: #eeeeee;
}
.ramkasrodkowa .txt3 {
    text-align: center;
    font-size: 24px;
    height: 43px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 6px;
    color: #9ea3aa;
    background-color: white;
}

.ramkasrodkowa .buttom {
    background-color: #27c7ab;
    color: white;
    width: 123px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    right: 102px;
    bottom: 20px;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
}

.ramkasrodkowa:hover .buttom {
    background-color: white;
    color: #27c7ab;
}


/*/////////////////////////////////////////////////////////////// RAMKA PRAWA*/
.ramkaprawa {
    border: 2px solid #9ea3aa;
    height: 502px;
    width: 329px;
    box-sizing: border-box;
    position: relative;
    margin-left: 13px;
    margin-right: 15px;
    display: inline-block;
    top: 93px;
    background-color: whitesmoke;
}


.ramkaprawa .kolo1 {
    border: 2px solid #9ea3aa;
    color: white;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    top: -38px;
    left: 135px;
    position: absolute;
    background-color: white;
}

.ramkaprawa .kolo2 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 13px;
    left: 14px;
    position: absolute;
    background-color: #9ea3aa;
}

.ramkaprawa .headline {
    font-size: 140%;
    text-align: center;
    margin-top: 28px;
    margin-left: 4px;
    color: #27c7ab;
    box-sizing: border-box;
    padding-right: 9px;
}


.ramkaprawa .okrag {
    border: 2px solid #9ea3aa;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    top: 80px;
    left: 98px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 44px;
    line-height: 24px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 33px;
}

.ramkaprawa .cena1 {
    font-size: 43px;
    font-weight: 700;
    position: relative;
    color: #9ea3aa;
    margin-right: 1px;
    right: 18px;
    bottom: 1px;
}

.ramkaprawa .cena {
    font-size: 15px;
    position: absolute;
    top: -15px;
    right: 6px;
    color: #9ea3aa;
}

.ramkaprawa .cena2 {
    font-size: 16px;
    position: absolute;
    bottom: 23px;
    right: 26px;
    font-weight: 500;
    color: #9ea3aa;
}

.ramkaprawa .txt {
    text-align: center;
    margin-top: 190px;
    font-size: 24px;
    height: 43px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 6px;
    color: #9ea3aa;
    background-color: rgba(198, 198, 198, 0.44);
}

.ramkaprawa .txt2 {
    text-align: center;
    font-size: 24px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 7px;
    color: #9ea3aa;
    background-color: #eeeeee;
}

.ramkaprawa .txt3 {
    text-align: center;
    font-size: 24px;
    height: 43px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 13px;
    color: #9ea3aa;
    background-color: rgba(198, 198, 198, 0.44);
}

.ramkaprawa .txt4 {
    text-align: center;
    font-size: 24px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 8px;
    color: #9ea3aa;
    background-color: #eeeeee;
}

.ramkaprawa .buttom {
    background-color: #27c7ab;
    color: white;
    width: 123px;
    height: 34px;
    font-size: 16px;
    font-weight: 500;
    right: 100px;
    bottom: 20px;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
}


/*----------------------------------------------------CZERWONY FOTEL*/

footer .container {
    background-color: white;
    height: 570px;
}

footer .dane {
    height: 800px;
    width: 500px;
    float: left;
}

footer .cennik {
    line-height: 20px;
    font-weight: 500;
    font-size: 22px;
    top: 33px;
    left: 74px;
    border-bottom: 8px solid #24baa0;
    margin-top: 32px;
    margin-left: 74px;
    width: 318px;
    height: 30px;
}

footer .dane .imie {
    width: 618px;
    height: 63px;
    margin-left: 73px;
    margin-top: 45px;
    font-size: 32px;
    padding-left: 15px;
    border: 1px solid #27c7ab;
    text-decoration: none;
    font-weight: 100;
    font-family: Raleway, Verdana, sans-serif;
}

footer .dane .email {
    width: 617px;
    height: 65px;
    margin-left: 73px;
    margin-top: 26px;
    font-size: 32px;
    padding-left: 14px;
    border: 1px solid #27c7ab;
    text-decoration: none;
    font-weight: 100;
    font-family: Raleway, Verdana, sans-serif;
}

footer .dane .wiadomosc {
    width: 618px;
    height: 171px;
    margin-left: 73px;
    margin-top: 25px;
    font-size: 33px;
    padding-left: 13px;
    padding-top: 13px;
    resize:	none;
    border: 1px solid #27c7ab;
    text-decoration: none;
    font-weight: 100;
    font-family: Raleway, Verdana, sans-serif;
}

/*------------------------------------------------------------CZERWONY FOTEL*/
footer .czerwony {
    float: left;
    margin-left: 251px;
    margin-top: 87px;
    height: 405px;;
    width: 432px;
}

footer .czerwony .czerwonyfotel {
    margin-left: 29px;
    margin-top: -1px;
}

footer .czerwony .buttom {
    background-color: #27c7ab;
    color: white;
    width: 343px;
    height: 72px;
    font-size: 34px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 11px;
}

/*--------------------------------------------------------PTASZEK*/
.checkbox {
    position: relative;
    padding-left: 11px;
    padding-top: 29px;
}
.checkbox input {
    display: block;
    opacity: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    cursor: pointer;
    padding-right: 10px;
}

.checkbox label {
    display: block;
    position: relative;
    font-size: 124%;
    color: #cecece;
    line-height: 105%;
    padding-top: 7px;
    padding-right: 11px;
    padding-left: 61px;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    height: 48px;
    position: absolute;
    width: 48px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}

footer .mainfooter {
    background-color: white;
    height: 651px;
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

footer .mainfooter .footer1 {
    position: absolute;
    left: 65px;
    top: 15px;
    width: 500px;
    font-size: 98%;
    letter-spacing: 1px;
}

footer .mainfooter .footer2 {
    position: absolute;
    right: 36px;
    width: 400px;
}

footer .mainfooter .footer2 .sit {
    width: 144px;
    height: 22px;
    font-size: 20px;
    margin-right: 39px;
    letter-spacing: 1px;
    float: right;
    box-sizing: border-box;
    padding-top: 12px
}

