* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
    url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraBold.woff') format('woff'),
    url('../fonts/Raleway-ExtraBold.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
    url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraLight.woff') format('woff'),
    url('../fonts/Raleway-ExtraLight.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBoldItalic.eot');
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
    url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
    url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff'),
    url('../fonts/Raleway-Light.ttf') format('truetype'),
    url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ThinItalic.eot');
    src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
    url('../fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ThinItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ThinItalic.woff') format('woff'),
    url('../fonts/Raleway-ThinItalic.ttf') format('truetype'),
    url('../fonts/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
    url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-LightItalic.woff') format('woff'),
    url('../fonts/Raleway-LightItalic.ttf') format('truetype'),
    url('../fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'),
    url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Black.woff2') format('woff2'),
    url('../fonts/Raleway-Black.woff') format('woff'),
    url('../fonts/Raleway-Black.ttf') format('truetype'),
    url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
    url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff'),
    url('../fonts/Raleway-Medium.ttf') format('truetype'),
    url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: local('Raleway Thin'), local('Raleway-Thin'),
    url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Thin.woff2') format('woff2'),
    url('../fonts/Raleway-Thin.woff') format('woff'),
    url('../fonts/Raleway-Thin.ttf') format('truetype'),
    url('../fonts/Raleway-Thin.svg#Raleway-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBoldItalic.eot');
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
    url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
    url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLightItalic.eot');
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
    url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
    url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BlackItalic.eot');
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
    url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
    url('../fonts/Raleway-BlackItalic.woff') format('woff'),
    url('../fonts/Raleway-BlackItalic.ttf') format('truetype'),
    url('../fonts/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BoldItalic.eot');
    src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
    url('../fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-BoldItalic.woff2') format('woff2'),
    url('../fonts/Raleway-BoldItalic.woff') format('woff'),
    url('../fonts/Raleway-BoldItalic.ttf') format('truetype'),
    url('../fonts/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Italic.woff2') format('woff2'),
    url('../fonts/Raleway-Italic.woff') format('woff'),
    url('../fonts/Raleway-Italic.ttf') format('truetype'),
    url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
    url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
    url('../fonts/Raleway-MediumItalic.woff') format('woff'),
    url('../fonts/Raleway-MediumItalic.ttf') format('truetype'),
    url('../fonts/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}


body {
  margin: 0;
  font-family: Raleway, Verdana, sans-serif;
  background-color: orange;
}

header {
    color: white;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

header .container {
    position: relative;
    background-color: black;
    height: 41px;
}

header .container .logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 68px;
    font-size: 15px;
    font-weight: 700;
    line-height: 14px;
}

header .container nav {
    position: absolute;
    right: 0;
    margin-top: 12px;
}

header .container nav ul {
    list-style: none;
    margin-right: 79px;
}

header .container nav ul li {
    display: inline-block;
    font-size: 91%;
    font-weight: 700;
    margin-left: 42px;
}

header .container nav ul li:first-child {
    margin-right: 32px;
    font-size: 95%;
}

header .container nav ul li:nth-child(2n) {
    font-size: 94%;
    margin-left: 16px;
    margin-right: -8px;
}

header .container nav ul li:nth-child(3n) {
    font-size: 92%;
    margin-right: -1px;
}

/*MAIN*/


main .container:first-child {
    height: 503px;
    position: relative;
    background-color: white;
}

main .container div:first-child{
    position: absolute;
    right: 261px;
    top: 11px;
    background-color: black;
}

/*DIV1*/
main .container:first-child div:first-child::before {
    content: "";
    border-bottom: 10px solid #222;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    position: absolute;
    top: -10px;
    width: 0;
    right: 56px;
}

main .container nav {
    height: 85px;
    width: 120px;
    color: white;
    padding-top: 11px;
}

main .container nav ul {
    list-style: none;
    margin-left: 12px;font-size: 17px;
    font-weight: 500;
    line-height: 27px;
}

main .container nav ul li:first-child{
    margin-top: -2px;
    font-size: 93%;
    margin-left: 2px;
}

main .container nav ul li:nth-child(2n){
    font-size: 93%;
}

main .container nav ul li:nth-child(3n){
    margin-top: 1px;
    font-size: 93%;
}

/*DIV2*/

main .container div:nth-child(2n) {
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 475px;
    width: 382px;
    top: 68px;
    left: 119px;
    background-size: 111%
}

main .container div:nth-child(3n){
    position: absolute;
    right: 209px;
    top: 137px;
    width: 447px;
}

main .container div:nth-child(3n) p {
    margin-top: -3px;
    font-weight: 500;
    text-align: center;
    font-size: 246%;
    margin-bottom: 26px;
    margin-right: 3px;

}

main .container div:nth-child(3n) p:nth-child(2n){
    font-size: 95%;
    text-align: center;
    line-height: 22px;
    margin-top: 28px;
    margin-left: 4px;
}

main .container:first-child input {
    position: absolute;
    background-color: #27c7ab;
    color: white;
    width: 265px;
    height: 55px;
    font-size: 23px;
    right: 297px;
    bottom: 124px;
    border-radius: 8px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 6px;
    padding-left: 17px;
}

main .container:first-child:before {
    position: absolute;
    right: 91px;
    top: 245px;
    width: 30px;
    height: 30px;
    border-width: 4px 4px 0 0;
    content: '';
    border-style: solid solid none none;
    transform: rotate(45deg);
    border-color:#27c7ab;
}

main .container:first-child:after {
    position: absolute;
    top: 245px;
    left: 81px;
    width:30px;
    height: 30px;
    border-width: 4px 4px 0 0;
    content: '';
    border-style: solid solid none none;
    transform: rotate(225deg);
    border-color:#27c7ab;
}

main .container:nth-child(2) {
    clear: both;
    background-color: white;
    height: 352px;
    position: relative;

}

main .container:nth-child(2) div:first-child {
    background-image: url("../images/box1_img.jpg");
    height: 225px;
    width: 330px;
    float: left;
    margin-top: 28px;
    margin-bottom: auto;
    margin-left: 68px;
    position: unset;
}

main .container:nth-child(2) div:nth-child(2){
    background-image: url("../images/box2_img.jpg");
    height: 225px;
    width: 330px;
    float: left;
    margin-top: 29px;
    margin-bottom: auto;
    margin-left: 27px;
    position: unset;
    background-size: cover;
}

main .container:nth-child(2) div:nth-child(3){
    background-color: white;
    border: 1px solid black;
    height: 250px;
    width: 338px;
    float: left;
    margin-top: 29px;
    margin-bottom: auto;
    margin-left: 27px;
    position: unset;
}

/*krzesło*/
main .container:nth-child(2) .obrazek1 .whitebelt {
    background: white;
    height: 61px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 0;
    margin-top: 151px;
}


main .container:nth-child(2) div:first-child .green_belt {
    background-color: #24baa0;
    width: 138px;
    height: 6px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 13px;
}

main .container:nth-child(2) div:first-child p {
    margin-top: 13px;
    margin-left: 18px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
}

/*Dziecko*/

main .container:nth-child(2) .obrazek2 .whitebelt {
    background: white;
    height: 61px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    margin-left: 0;
    margin-top: 151px;
}


main .container:nth-child(2) div:nth-child(2) .green_belt {
    background-color: #24baa0;
    width: 138px;
    height: 6px;
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 15px;
}

main .container:nth-child(2) div:nth-child(2) p {
    margin-top: 12px;
    margin-left: 15px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
}

/*ramka*/
main .container:nth-child(2) div:nth-child(3) .green_belt {
    background-color: #24baa0;
    width: 138px;
    height: 6px;
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 22px;
}

main .container:nth-child(2) .ramka p {
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-left: -178px;
    margin-top: 27px;
    font-size: 16px;
}


main .container:nth-child(2) .ramka .ramkatekst1 {
    line-height: 20px;
    font-weight: 300;
    margin-left: 21px;
    font-size: 89%;
    width: 282px;
    text-align: left;
    margin-top: 0;
}

main .container:nth-child(2) .ramka .ramkatekst2 {
    line-height: 20px;
    font-weight: 300;
    margin-left: 21px;
    font-size: 14px;
    width: 286px;
    text-align: left;
    margin-top: 22px;
}